src/main/mule/gea2kcl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="67766da9-7e56-451e-b9fe-5a904219d0e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gea2kclFlow" doc:id="041551ff-c407-482d-9225-0cf018522bcf" >
		<http:listener doc:name="Listener" doc:id="f2af052e-5e9a-47dd-b879-f5e0a98d0c29" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="81b8fe05-a873-4c71-9030-d7cabff8c3ca" message="Jusr started"/>
		<logger level="INFO" doc:name="Logger" doc:id="f8eeae59-7b4d-4bcd-bfb4-bee4e1d01c49" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="1629c881-de29-45b2-b580-697a5b5782b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	start:now(), 
	end:'now or not' 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
